<footer class="footer bg-light py-5">
  <div id='div-content' class="container text-center">
     

      <div class="d-flex justify-content-center align-items-center mb-3">
          <h2 class="mb-0 mr-2">Hope the Enjoyed. Created by:</h2>
      </div>

      <div>
          <ul class="list-unstyled d-flex justify-content-center flex-wrap">
              <li class="mx-3">
                Rishav Pandey
                  <a href="https://github.com/rishavpandey02" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</footer>