<div class="m-4">
    <h5 class="text-center fs-2 mb-4">Sign In</h5>
    <form id="login-form">
        <div style="width:50%" class= "mx-auto">
            <input type="text" class="form-control" id="floatingInput">
            <label id="username-login" for="floatingInput">Username</label>
        </div>
        <div style="width:50%" class="mx-auto">
            <input id="password-login" type="password" class="form-control" id="floatingInput">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid mx-auto" style="width: 10%; height:40px; " >
            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" id="login-btn">Sign In</button>
        </div>
        <div class="my-3 text-center">
            <a href="/signup">Don't have an account. SignUp!</a>
        </div>
    </form>
</div>

<script src="js/login.js"></script>