<div class="m-4">
    <h5 class="text-center fs-2">Add New Post</h5>

     <form class="card-body" id="newpost-form">

      <div class="mb-6">
        <label class="form-label">Title:</label>
        <input type="text" class="form-input" name="post-title"/>
      </div>

      <div class="mb-6">
        <label class="form-label">Content:</label>
        <textarea class="form-textarea form-input" name="post-content"></textarea>
      </div>

      <div class="mb-6">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
</div>

<script src="/js/new.js"></script>

