<div class="m-4">
    <h5 class="text-center fs-2 mb-4">Sign Up</h5>
    <form id="signup-form">
        <div style="width:50%" class= "mx-auto">
            <input id="username-signup" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Username</label>
        </div>
        <div style="width:50%" class="mx-auto">
            <input id="password-signup" type="password" class="form-control" id="floatingInput">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid mx-auto" style="width: 10%; height:40px; " >
            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" id="login-btn">Sign Up</button>
        </div>
        <div class="my-3 text-center">
            <a href="/login">If you already have an Account. Login!</a>
        </div>
    </form>
</div>

<script src="js/signup.js"></script>